<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Coches", "coches")</li>
        <li>@Html.ActionLink("Contacta", "contacta")</li>
    </ul>
</div> 